<div style="position: relative" class="wrapper" *ngLet="requests$ | async as requests">
  <button mat-icon-button style="position: absolute; right: 0" (click) = "createNewRequest()">
    <mat-icon>add</mat-icon>
  </button>
  <section style="padding-top: 50px">
    <mat-expansion-panel style="margin-bottom: 1px" *ngFor="let request of requests">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span style="color: gray">Название: </span>{{request.title}}
        </mat-panel-title>
        <mat-panel-description>
          <p><span style="color: gray">Бюджет:</span>{{request.budget}}</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p><span style="color: gray">О Проекте: </span>{{request.text}}</p>
    </mat-expansion-panel>
  </section>
</div>
