.wrapper{
  width: 800px;
  margin: 0 auto;
  margin-top: 150px;
}

.example-card{
  width: 100%;
  span{
    color: gray;
  }
  ::ng-deep .mat-mdc-card-content{
    height: 100px;
  }
}

::ng-deep .ngx-pagination{
  display: flex;
  justify-content: center;
}
